.profile-settings > h2 {
    margin-bottom: 50px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ced4da;
  }
  #email {
    background-color: bisque;
  }
  #fullName {
    background-color: bisque;
  }
  .info {
    text-align:justify;
  }